.page {
	background-color: #4a87a9;
	color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.codearea {
	display: grid;
	grid-template-columns: 1fr 1fr; /* 2 equal columns */
	grid-template-rows: 1fr 1fr;    /* 2 equal rows */
	gap: 5px; /* spacing between cells */
}

.codeareacell {
	background-color: hsl(221, 14%, 14%);
	color: rgb(171, 177, 191);
	/*background-color: white;*/
	/*color: black;*/
	padding: 5px;
	width: auto;
	border-radius: 5px;
}
pre {
	margin-top: 5px;
}
.area-border {
	border-color: white;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	padding: 3px;
}
